.dropdown-menu {
  padding: 10px 0;
}
.dropdown-menu .divider {
  background: transparent;
  height: auto;
  margin: 0;
  overflow: visible;
}
.dropdown-menu > li > a,
.dropdown-menu > li > span {
  display: block;
  padding: 5px 20px;
}
.dropdown-header {
  padding: 3px 20px;
  font-size: 14px;
}
.dropdown-header a {
  color: #888888;
}
.dropdown-submenu > a:after {
  border-left-color: #888888;
}
.dropdown-submenu:hover > a:after {
  border-left-color: #eb4c49;
}
.nav > li > .separator {
  position: relative;
  display: block;
  padding: 10px 15px;
  line-height: 24px;
}
@media (min-width: 991px) {
  .nav > li > .separator {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}
@media (max-width: 991px) {
  .nav > li > span {
    padding: 10px 15px;
    display: inline-block;
  }
}
.nav-tabs {
  margin-bottom: 24px;
}
.nav-tabs > li > a {
  font-size: 11px;
  font-weight: 500;
  text-transform: uppercase;
}
.nav-tabs > li > a.active {
  background: #f9f9f9;
}
.nav .caret {
  border-top-color: #333333;
  border-bottom-color: #333333;
  border-bottom-width: 0;
  border-style: solid;
}
.nav a:hover .caret {
  border-top-color: #333333;
  border-bottom-color: #333333;
}
.t3-navhelper {
  background: #f5f5f5;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  color: #555555;
  padding: 5px 0;
}
.breadcrumb {
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  border-radius: 0;
}
.breadcrumb > li + li:before {
  content: "/\00a0";
}
.breadcrumb > .active {
  color: #888888;
}
.breadcrumb > .active + li:before {
  content: "";
  padding: 0;
}
.breadcrumb > .active .hasTooltip {
  padding-right: 12px;
}
.breadcrumb .divider {
  display: none;
}
.pagination > li > a,
.pagination > li > span {
  border: 0;
  margin: 3px 6px 3px 0;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'IBM Plex Sans Condensed', sans-serif;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  display: none;
}
.pagination {
  margin-top: 48px;
  margin-bottom: 0;
  display: block;
}
.pagination:before,
.pagination:after {
  display: table;
  content: " ";
}
.pagination:after {
  clear: both;
}
@media screen and (min-width: 768px) {
  .pagination {
    float: left;
  }
}
.pagination .pagination {
  display: inline-block;
}
.counter {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 0;
  font-size: 12px;
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
  margin-top: 48px;
  padding: 11px 15px;
}
@media screen and (min-width: 768px) {
  .counter {
    float: right;
  }
}