.t3-megamenu .mega-inner {
  padding: 10px 0;
}
.t3-megamenu .row {
  margin-left: auto;
  margin-right: auto;
}
.t3-megamenu .row + .row {
  padding-top: 12px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.t3-megamenu .mega-dropdown-menu {
  padding: 24px 12px;
}
.t3-megamenu .dropdown-header,
.t3-megamenu .mega-nav .mega-group > .dropdown-header,
.t3-megamenu .dropdown-menu .mega-nav .mega-group > .dropdown-header,
.t3-megamenu .dropdown-menu .active .mega-nav .mega-group > .dropdown-header {
  margin: 0;
  padding: 0;
  background: transparent;
  color: #333333;
  font-size: 14px;
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.t3-megamenu .dropdown-header:hover,
.t3-megamenu .mega-nav .mega-group > .dropdown-header:hover,
.t3-megamenu .dropdown-menu .mega-nav .mega-group > .dropdown-header:hover,
.t3-megamenu .dropdown-menu .active .mega-nav .mega-group > .dropdown-header:hover,
.t3-megamenu .dropdown-header:active,
.t3-megamenu .mega-nav .mega-group > .dropdown-header:active,
.t3-megamenu .dropdown-menu .mega-nav .mega-group > .dropdown-header:active,
.t3-megamenu .dropdown-menu .active .mega-nav .mega-group > .dropdown-header:active,
.t3-megamenu .dropdown-header:focus,
.t3-megamenu .mega-nav .mega-group > .dropdown-header:focus,
.t3-megamenu .dropdown-menu .mega-nav .mega-group > .dropdown-header:focus,
.t3-megamenu .dropdown-menu .active .mega-nav .mega-group > .dropdown-header:focus {
  background: inherit;
  color: inherit;
}
.t3-megamenu .mega-group-ct .row {
  margin-left: -24px;
  margin-right: -24px;
}
.t3-megamenu .mega-nav > li > a,
.t3-megamenu .dropdown-menu .mega-nav > li > a,
.t3-megamenu .mega-nav > li > a,
.t3-megamenu .dropdown-menu .mega-nav > li > a,
.t3-megamenu .mega-nav > li > span,
.t3-megamenu .dropdown-menu .mega-nav > li > span,
.t3-megamenu .mega-nav > li > span,
.t3-megamenu .dropdown-menu .mega-nav > li > span {
  background: transparent;
  color: #888888;
  padding: 5px 0;
}
.t3-megamenu .mega-nav > li > a:hover,
.t3-megamenu .dropdown-menu .mega-nav > li > a:hover,
.t3-megamenu .mega-nav > li > a:hover,
.t3-megamenu .dropdown-menu .mega-nav > li > a:hover,
.t3-megamenu .mega-nav > li > span:hover,
.t3-megamenu .dropdown-menu .mega-nav > li > span:hover,
.t3-megamenu .mega-nav > li > span:hover,
.t3-megamenu .dropdown-menu .mega-nav > li > span:hover,
.t3-megamenu .mega-nav > li > a:focus,
.t3-megamenu .dropdown-menu .mega-nav > li > a:focus,
.t3-megamenu .mega-nav > li > a:focus,
.t3-megamenu .dropdown-menu .mega-nav > li > a:focus,
.t3-megamenu .mega-nav > li > span:focus,
.t3-megamenu .dropdown-menu .mega-nav > li > span:focus,
.t3-megamenu .mega-nav > li > span:focus,
.t3-megamenu .dropdown-menu .mega-nav > li > span:focus,
.t3-megamenu .mega-nav > li > a:active,
.t3-megamenu .dropdown-menu .mega-nav > li > a:active,
.t3-megamenu .mega-nav > li > a:active,
.t3-megamenu .dropdown-menu .mega-nav > li > a:active,
.t3-megamenu .mega-nav > li > span:active,
.t3-megamenu .dropdown-menu .mega-nav > li > span:active,
.t3-megamenu .mega-nav > li > span:active,
.t3-megamenu .dropdown-menu .mega-nav > li > span:active {
  background: transparent;
  color: #eb4c49;
}
.t3-megamenu .mega-nav > li.active > a,
.t3-megamenu .dropdown-menu .mega-nav > li.active > a,
.t3-megamenu .mega-nav > li.active > a,
.t3-megamenu .dropdown-menu .mega-nav > li.active > a,
.t3-megamenu .mega-nav > li.open > a,
.t3-megamenu .dropdown-menu .mega-nav > li.open > a,
.t3-megamenu .mega-nav > li.open > a,
.t3-megamenu .dropdown-menu .mega-nav > li.open > a,
.t3-megamenu .mega-nav > li.active > span,
.t3-megamenu .dropdown-menu .mega-nav > li.active > span,
.t3-megamenu .mega-nav > li.active > span,
.t3-megamenu .dropdown-menu .mega-nav > li.active > span,
.t3-megamenu .mega-nav > li.open > span,
.t3-megamenu .dropdown-menu .mega-nav > li.open > span,
.t3-megamenu .mega-nav > li.open > span,
.t3-megamenu .dropdown-menu .mega-nav > li.open > span,
.t3-megamenu .mega-nav > li.active > a:hover,
.t3-megamenu .dropdown-menu .mega-nav > li.active > a:hover,
.t3-megamenu .mega-nav > li.active > a:hover,
.t3-megamenu .dropdown-menu .mega-nav > li.active > a:hover,
.t3-megamenu .mega-nav > li.open > a:hover,
.t3-megamenu .dropdown-menu .mega-nav > li.open > a:hover,
.t3-megamenu .mega-nav > li.open > a:hover,
.t3-megamenu .dropdown-menu .mega-nav > li.open > a:hover,
.t3-megamenu .mega-nav > li.active > span:hover,
.t3-megamenu .dropdown-menu .mega-nav > li.active > span:hover,
.t3-megamenu .mega-nav > li.active > span:hover,
.t3-megamenu .dropdown-menu .mega-nav > li.active > span:hover,
.t3-megamenu .mega-nav > li.open > span:hover,
.t3-megamenu .dropdown-menu .mega-nav > li.open > span:hover,
.t3-megamenu .mega-nav > li.open > span:hover,
.t3-megamenu .dropdown-menu .mega-nav > li.open > span:hover,
.t3-megamenu .mega-nav > li.active > a:focus,
.t3-megamenu .dropdown-menu .mega-nav > li.active > a:focus,
.t3-megamenu .mega-nav > li.active > a:focus,
.t3-megamenu .dropdown-menu .mega-nav > li.active > a:focus,
.t3-megamenu .mega-nav > li.open > a:focus,
.t3-megamenu .dropdown-menu .mega-nav > li.open > a:focus,
.t3-megamenu .mega-nav > li.open > a:focus,
.t3-megamenu .dropdown-menu .mega-nav > li.open > a:focus,
.t3-megamenu .mega-nav > li.active > span:focus,
.t3-megamenu .dropdown-menu .mega-nav > li.active > span:focus,
.t3-megamenu .mega-nav > li.active > span:focus,
.t3-megamenu .dropdown-menu .mega-nav > li.active > span:focus,
.t3-megamenu .mega-nav > li.open > span:focus,
.t3-megamenu .dropdown-menu .mega-nav > li.open > span:focus,
.t3-megamenu .mega-nav > li.open > span:focus,
.t3-megamenu .dropdown-menu .mega-nav > li.open > span:focus,
.t3-megamenu .mega-nav > li.active > a:active,
.t3-megamenu .dropdown-menu .mega-nav > li.active > a:active,
.t3-megamenu .mega-nav > li.active > a:active,
.t3-megamenu .dropdown-menu .mega-nav > li.active > a:active,
.t3-megamenu .mega-nav > li.open > a:active,
.t3-megamenu .dropdown-menu .mega-nav > li.open > a:active,
.t3-megamenu .mega-nav > li.open > a:active,
.t3-megamenu .dropdown-menu .mega-nav > li.open > a:active,
.t3-megamenu .mega-nav > li.active > span:active,
.t3-megamenu .dropdown-menu .mega-nav > li.active > span:active,
.t3-megamenu .mega-nav > li.active > span:active,
.t3-megamenu .dropdown-menu .mega-nav > li.active > span:active,
.t3-megamenu .mega-nav > li.open > span:active,
.t3-megamenu .dropdown-menu .mega-nav > li.open > span:active,
.t3-megamenu .mega-nav > li.open > span:active,
.t3-megamenu .dropdown-menu .mega-nav > li.open > span:active {
  background: transparent;
  color: #eb4c49;
}
.t3-megamenu .dropdown-menu .mega-group .mega-nav > li.active a {
  color: #eb4c49;
}
.t3-megamenu .mega-nav .dropdown-submenu > a {
  padding-right: 12px !important;
}
.t3-megamenu .mega-nav .dropdown-submenu > a::after {
  margin-right: 0;
  position: absolute;
  top: 7px;
  right: 0;
}
.t3-megamenu .t3-module .module-inner {
  padding: 0 24px;
}
.t3-megamenu .t3-module .module-inner ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.t3-megamenu .t3-module .module-inner ul li {
  list-style: none;
  padding: 6px 0;
}
.t3-megamenu .t3-module .module-title {
  margin: 0;
  padding: 0;
  background: transparent;
  color: #333333;
  font-size: 14px;
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.t3-megamenu .t3-module .module-title:hover,
.t3-megamenu .t3-module .module-title:active,
.t3-megamenu .t3-module .module-title:focus {
  background: inherit;
  color: inherit;
}
.t3-megamenu .t3-module ul li,
.t3-megamenu .t3-module .nav li {
  list-style: disc;
  display: list-item;
  float: none;
  margin: 0;
  padding: 0;
  border: 0;
}
.t3-megamenu .t3-module ul li a,
.t3-megamenu .t3-module .nav li a {
  display: inline;
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 100%;
  background: none;
  font: inherit;
  white-space: normal;
}
.t3-megamenu .t3-module ul li a:hover,
.t3-megamenu .t3-module .nav li a:hover,
.t3-megamenu .t3-module ul li a:focus,
.t3-megamenu .t3-module .nav li a:focus,
.t3-megamenu .t3-module ul li a:active,
.t3-megamenu .t3-module .nav li a:active {
  background: none;
  color: inherit;
  font: inherit;
}
.t3-megamenu .mega-caption {
  color: #888888;
  font-size: 12px;
  margin-top: 3px;
  font-weight: normal;
}
.t3-megamenu .nav .input-group-addon [class^="icon-"],
.t3-megamenu .nav .input-group-addon [class*=" icon-"],
.t3-megamenu .nav .input-group-addon .fa {
  margin-right: 0;
}