.t3-module {
  background: transparent;
  color: #bbbbbb;
  margin-bottom: 48px;
}
.t3-module .module-inner {
  padding: 0;
}
.module-title {
  background: transparent;
  color: #3378bd;
  font-size: 12px;
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  text-transform: uppercase;
  margin: 0 0 24px 0;
  padding: 0;
  letter-spacing: 0;
}
.module-ct {
  background: transparent;
  color: #bbbbbb;
  padding: 0;
}
.module-ct:before,
.module-ct:after {
  display: table;
  content: " ";
}
.module-ct:after {
  clear: both;
}
.module-ct > ul,
.module-ct .custom > ul,
.module-ct > ol,
.module-ct .custom > ol {
  margin-left: 20px;
  padding-left: 0;
}
.module-ct > ul.unstyled,
.module-ct .custom > ul.unstyled,
.module-ct > ol.unstyled,
.module-ct .custom > ol.unstyled {
  padding-left: 0;
}
.module-ct > ul.nav,
.module-ct .custom > ul.nav,
.module-ct > ol.nav,
.module-ct .custom > ol.nav {
  padding-left: 0;
  margin-left: 0;
}
.module_menu .nav > li > a,
.module_menu .nav > li > .separator {
  padding: 11px 5px;
  display: block;
}
#login-form input[type="text"],
#login-form input[type="password"] {
  width: 100%;
}
#login-form ul.unstyled {
  list-style: none;
  font-size: 12px;
  margin-top: 24px;
  padding-left: 0;
}
#login-form .input-group-addon {
  width: auto;
}
#login-form #form-login-remember label {
  font-weight: normal;
}
.banneritem a {
  font-weight: bold;
}
.bannerfooter {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  font-size: 12px;
  padding-top: 12px;
  text-align: right;
}
.categories-module,
ul.categories-module,
.category-module,
ul.category-module {
  margin: 0;
}
.categories-module li,
ul.categories-module li,
.category-module li,
ul.category-module li {
  list-style: none;
  padding: 12px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.categories-module li:first-child,
ul.categories-module li:first-child,
.category-module li:first-child,
ul.category-module li:first-child {
  border-top: 0;
}
.categories-module h4,
ul.categories-module h4,
.category-module h4,
ul.category-module h4 {
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}
ul.latestnews {
  margin: 0;
  padding-left: 12px;
}
ul.latestnews > li {
  font-weight: 500;
}
ul.latestnews > li + li {
  margin-top: 12px;
}
.feed h4 {
  font-weight: bold;
}
.feed .newsfeed,
.feed ul.newsfeed {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.feed .newsfeed .feed-link,
.feed ul.newsfeed .feed-link,
.feed .newsfeed h5.feed-link,
.feed ul.newsfeed h5.feed-link {
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}
.latestusers,
ul.latestusers {
  margin-left: 0;
}
.latestusers li,
ul.latestusers li {
  background: #eeeeee;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 0px;
}
.stats-module dt,
.stats-module dd {
  display: inline-block;
  margin: 0;
}
.stats-module dt {
  font-weight: bold;
  width: 35%;
}
.stats-module dd {
  width: 60%;
}
.tagspopular ul {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}
.tagspopular ul > li {
  color: #555555;
  display: inline-block;
  margin: 0 5px 5px 0;
}
.tagspopular ul > li > a {
  background: #eeeeee;
  border-radius: 3px;
  color: #555555;
  display: block;
  padding: 2px 5px;
}
.tagspopular ul > li > a:hover,
.tagspopular ul > li > a:focus,
.tagspopular ul > li > a:active {
  background: #ffffff;
  color: #ffffff;
  text-decoration: none;
}
.tagssimilar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.tagssimilar ul > li {
  border-bottom: 1px solid #eeeeee;
  padding: 8px 0;
}
.tagssimilar ul > li > a {
  color: #555555;
}
.tagssimilar ul > li > a:hover,
.tagssimilar ul > li > a:focus,
.tagssimilar ul > li > a:active {
  color: #ffffff;
}
.module-ct > ol.breadcrumb {
  padding: 11px 15px;
  margin-left: 0;
}
.t3-masthead .ja-masthead::before {
  display: none;
}
.t3-masthead .ja-masthead .ja-masthead-detail {
  padding: 96px 24px 0;
  text-align: left;
  margin: auto;
  max-width: 100%;
}
@media (min-width: 768px) {
  .t3-masthead .ja-masthead .ja-masthead-detail {
    width: 768px;
  }
}
@media (min-width: 992px) {
  .t3-masthead .ja-masthead .ja-masthead-detail {
    width: 988px;
  }
}
@media (min-width: 1200px) {
  .t3-masthead .ja-masthead .ja-masthead-detail {
    width: 1152px;
  }
}
@media (max-width: 767px) {
  .t3-masthead .ja-masthead .ja-masthead-detail {
    padding-top: 48px;
  }
}
.t3-masthead .ja-masthead .ja-masthead-detail .ja-masthead-title {
  font-size: 60px;
  margin: 0;
}
@media (max-width: 767px) {
  .t3-masthead .ja-masthead .ja-masthead-detail .ja-masthead-title {
    font-size: 24px;
  }
}
.view-article .t3-masthead .ja-masthead {
  background: transparent !important;
}