.jtcs_item_wrapper {margin: 0;padding: 0;font-size: 1em;}

.jtcs_item_wrapper .jtcs_item_with_intro {clear: both;list-style: none;}

.jtcs_item_wrapper  .jt-title {line-height: normal;display:block;}

.jtcs_more_cat {display: block;padding: 0.7em 0;font-size: 0.9em;}

.jtcs_more_cat a {text-decoration: underline;}
.jtcs_item_wrapper.jt-cs .owl-carousel.owl-loaded {display: grid;}
.jtcs_item_wrapper.jt-cs .jt-author-date{display:flex;gap:10px; font-size:95%;align-items: center; margin:10px 0;}
.jt-cs .jt-author-date i{ margin-right:4px;}
.jt-cs .jt-category i{ margin-right:4px;}
.jt-cs  .jt-introtext{margin:10px 0 20px 0;}
/**************/
.jtcs_item_wrapper .modal.fade.show{opacity:1;top:10%;}

.jtcs_item_wrapper .modal.fade .modal-dialog {-webkit-transform: scale(0.7);-ms-transform: scale(0.7);-o-transform:  scale(0.7);transform: scale(0.7);-webkit-transition: -webkit-transform 0.2s ease-out;-moz-transition: -moz-transform 0.2s ease-out;-o-transition: -o-transform 0.2s ease-out;transition: transform 0.2s ease-out;}

.jtcs_item_wrapper .modal.fade.show .modal-dialog {-webkit-transform:  scale(1);-ms-transform: scale(1);-o-transform:  scale(1);	transform: scale(1);-webkit-transition: -webkit-transform 0.2s ease-out;-moz-transition: -moz-transform 0.2s ease-out;-o-transition: -o-transform 0.2s ease-out;transition: transform 0.2s ease-out;}

.jtcs_item_wrapper .modal-dialog {width:max-content;max-width: 80vw;margin: 30px auto;}
.modal-backdrop.show{ z-index:1;opacity:0.7}

.jt-cs .jt-imagecover{ position:relative; overflow:hidden}
.jt-cs .hover-icons {margin-top: -22px;position: absolute;top: 50%;width: 100%;z-index: 4;text-align: center;}
.jt-cs .hover-icons  a {display: inline-block;height:44px;line-height:44px;opacity: 0;position:relative;text-align: center;top:0px;width:44px;z-index: 5;border-radius:0px;
-webkit-transition: all .4s ease-in-out;transition: all .5s ease-in-out;font-weight: 400;background: rgba(0,0,0,.7);border-radius: 100%;}
.jt-cs .hover-icons .fa{font-size:20px;line-height:44px;}
.jt-cs .hover-icons a.icon-lightbox{ right:-100px;opacity:0; left:auto;transition: all ease-in-out 0.5s;-webkit-transition: all ease-in-out 0.5s;}
.jt-cs .hover-icons a.icon-url{margin-right:10px;left:-100px;transition:all ease-in-out 0.5s;-webkit-transition:all ease-in-out 0.5s;opacity:0}
.jt-cs .jt-imagecover:hover .hover-icons {filter: alpha(opacity=100);opacity: 1;transition: all ease-in-out 0.5s;-webkit-transition: all ease-in-out 0.5s;}
.jt-cs .jt-imagecover:hover .hover-icons a.icon-url{opacity: 1; left:0;transition: all ease-in-out 0.5s;-webkit-transition: all ease-in-out 0.5s;}
.jt-cs .jt-imagecover:hover .hover-icons a.icon-lightbox{opacity: 1; right:0;transition: all ease-in-out 0.5s;-webkit-transition: all ease-in-out 0.5s;}
.jt-cs .jt-imagecover::before {background:rgba(0,0,0,0.5);bottom: 0;content: "";left: 0;opacity: 0;position: absolute;right: 0;top: 0;transition: all 0.2s linear;z-index: 3;}
.jt-cs .jt-imagecover:hover::before {opacity:1;}
.jt-cs .jt-imagecover img {outline: none;border: 0;max-width: 100% !important;margin-top: 0;margin-bottom: 0;-webkit-transition: all 0.2s linear 0s;-moz-transition: all 0.2s linear 0s;-ms-transition: all 0.2s linear 0s;-o-transition: all 0.2s linear 0s;transition: all 0.2s linear 0s;transition: all 0.2s linear 0s;opacity: 1;-webkit-transform: scale(1,1);-moz-transform: scale(1,1);-ms-transform: scale(1,1);-o-transform: scale(1,1);transform: scale(1,1);}
.jt-cs .jt-imagecover:hover img {transition: all 0.2s linear 0s;-webkit-transform: scale(1.2,1.2);-moz-transform: scale(1.2,1.2);-ms-transform: scale(1.2,1.2);-o-transform: scale(1.2,1.2);transform: scale(1.2,1.2);-webkit-transition: all .5s ease;-moz-transition: all .5s ease;-ms-transition: all .5s ease;-o-transition: all .5s ease;transition: all .5s ease;}
.btn-close.jt-cs  {box-sizing: content-box;width:15px;height: 15px;padding:2px 2px;color:#FFFFFF;background: rgba(255, 255, 255, 0.8) url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='black'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;border: 0;border-radius:0;opacity:1;position:absolute;top:-19px;right:0px;-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);}
.btn-close.jt-cs::before{ content:"";}
.modal-dialog.jt-cs .modal-content {position: relative;background-color: #ffffff;background-clip: padding-box;border: 10px solid rgba(255, 255, 255, 0.8);border-radius:0px;-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);outline: 0;}
.jt-cs  .owl-dots {text-align: center;}
.jt-cs  .owl-dots span {position: relative;height: 10px;width: 10px;border-radius: 50%;display: block;background: #fff;border: 2px solid #01b0f8;margin: 0 5px;}
.jt-cs  .owl-dots .active {box-shadow: none;}
.jt-cs  .owl-dots .active span {background: #01b0f8;box-shadow: none;height: 12px;width: 12px;margin-bottom: -1px;}
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev {outline: 0;}
.owl-carousel button.owl-dot {outline: 0;}/**
 * Owl Carousel v2.3.4
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */
.owl-carousel,.owl-carousel .owl-item{-webkit-tap-highlight-color:transparent;position:relative}
.owl-carousel{display:none;width:100%;z-index:1}
.owl-carousel .owl-stage{position:relative;-ms-touch-action:pan-Y;touch-action:manipulation;-moz-backface-visibility:hidden}
.owl-carousel .owl-stage:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}
.owl-carousel .owl-stage-outer{position:relative;overflow:hidden;-webkit-transform:translate3d(0,0,0); z-index:1}
.owl-carousel .owl-item,.owl-carousel .owl-wrapper{-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0)}
.owl-carousel .owl-item{min-height:1px;float:left;-webkit-backface-visibility:hidden;-webkit-touch-callout:none}
.owl-carousel .owl-item img{display:block;}
.owl-carousel .owl-dots.disabled,.owl-carousel .owl-nav.disabled{display:none}
.no-js .owl-carousel,.owl-carousel.owl-loaded{display:block}
.owl-carousel .owl-dot,.owl-carousel .owl-nav .owl-next,.owl-carousel .owl-nav .owl-prev{cursor:pointer;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.owl-carousel .owl-nav button.owl-next,.owl-carousel .owl-nav button.owl-prev,.owl-carousel button.owl-dot{-webkit-transition: opacity 0.4s ease;-moz-transition: opacity 0.4s ease;-ms-transition: opacity 0.4s ease;-o-transition: opacity 0.4s ease;transition: opacity 0.4s ease;background:0 0;color: #01b0f8;border:none;padding:0!important;font:inherit;}
.owl-carousel.owl-loading{opacity:0;display:block}
.owl-carousel.owl-hidden{opacity:0}
.owl-carousel.owl-refresh .owl-item{visibility:hidden}
.owl-carousel.owl-drag .owl-item{-ms-touch-action:pan-y;touch-action:pan-y;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.owl-carousel.owl-grab{cursor:move;cursor:grab}
.owl-carousel.owl-rtl{direction:rtl}
.owl-carousel.owl-rtl .owl-item{float:right}
.owl-carousel .animated{animation-duration:0.4s;animation-fill-mode:both}
.owl-carousel .owl-animated-in{z-index:0}
.owl-carousel .owl-animated-out{z-index:1}
.owl-carousel .fadeOut{animation-name:fadeOut}@keyframes fadeOut{0%{opacity:1}100%{opacity:0}}
.owl-height{transition:height .5s ease-in-out}
.owl-carousel .owl-item .owl-lazy{opacity:0;transition:opacity .4s ease}
.owl-carousel .owl-item .owl-lazy:not([src]),.owl-carousel .owl-item .owl-lazy[src^=""]{max-height:0}
.owl-carousel .owl-item img.owl-lazy{transform-style:preserve-3d}
.owl-carousel .owl-video-wrapper{position:relative;height:100%;background:#000}
.owl-carousel .owl-video-play-icon{position:absolute;height:80px;width:80px;left:50%;top:50%;margin-left:-40px;margin-top:-40px;background:url(owl.video.play.png) no-repeat;cursor:pointer;z-index:1;-webkit-backface-visibility:hidden;transition:transform .0.4s ease}
.owl-carousel .owl-video-play-icon:hover{-ms-transform:scale(1.3,1.3);transform:scale(1.3,1.3)}
.owl-carousel .owl-video-playing .owl-video-play-icon,.owl-carousel .owl-video-playing .owl-video-tn{display:none}
.owl-carousel .owl-video-tn{opacity:0;height:100%;background-position:center center;background-repeat:no-repeat;background-size:contain;transition:opacity .4s ease}
.owl-carousel .owl-video-frame{position:relative;z-index:1;height:100%;width:100%}
/*Handles - Next/prev buttons
*/
.jt-cs .owl-carousel .owl-nav{ display:flex;}
.jt-cs .owl-carousel .owl-nav span{}
.jt-cs .owl-carousel .owl-nav .owl-next,.jt-cs .owl-carousel .owl-nav .owl-prev {-webkit-transition: opacity 0.4s ease;-moz-transition: opacity 0.4s ease;-ms-transition: opacity 0.4s ease;-o-transition: opacity 0.4s ease;transition: opacity 0.4s ease;opacity:0;font-size:20px; width:40px; height:40px; background:rgba(0,0,0,0.05)}
.jt-cs .owl-carousel:hover .owl-next,.jt-cs .owl-carousel:hover .owl-prev {display: block;opacity:1;-webkit-transition: opacity 0.4s ease;-moz-transition: opacity 0.4s ease;-ms-transition: opacity 0.4s ease;-o-transition: opacity 0.4s ease;transition: opacity 0.4s ease;}
.positioncenter.owl-carousel .owl-nav button.owl-next{position: absolute;right:-40px;transform: translateY(-100%);}
.positioncenter.owl-carousel .owl-nav button.owl-prev{position: absolute;left:-40px;transform: translateY(-100%);}
.jt-cs a.link-image{ position:relative; display:block; z-index:3}
.jt-cs .owl-carousel.owl-rtl .owl-nav button.owl-next {}
.jt-cs .slide{clear: both;}
.jt-cs p.readmore{ margin-top:30px}
.jt-cs .jt-imagecover.center{margin-bottom:20px;}
span.jt-caption{ position:absolute;bottom:0;padding:5px 15px;z-index:3;font-weight:bold;}
