.page-header {
  padding-bottom: 11px;
  margin: 0 0 24px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.page-title,
.page-header h1 {
  line-height: 1;
  margin: 0;
}
.page-subheader {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin: 0 0 24px;
}
.page-subheader:before,
.page-subheader:after {
  content: " ";
  display: table;
}
.page-subheader:after {
  clear: both;
}
.page-subtitle,
.page-subheader h2 {
  line-height: 1;
  margin: 0;
}
.page-header + .page-subheader {
  margin-top: -24px;
}
.article-title,
.article-header h1 {
  color: #ffffff;
  margin: 0 0 24px 0;
  font-size: 24px;
}
.leading .article-title,
.leading .article-header h1 {
  font-size: 40px;
}
.item-title {
  font-weight: bold;
}
.form-control-feedback {
  display: none;
}
.jumbotron h1,
.jumbotron h2,
.jumbotron h3 {
  margin-top: 0;
}
.jumbotron p:last-child {
  margin-bottom: 0;
}
.container .jumbotron {
  border-radius: 0px;
}
.masthead {
  padding: 48px 0;
  text-align: center;
}
.masthead p:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 991px) {
  .masthead {
    padding: 96px 0;
  }
  .masthead h1 {
    font-size: 98px;
  }
  .masthead p {
    font-size: 28px;
  }
  .masthead .btn-lg {
    margin-top: 24px;
    padding: 18px 42px;
    font-size: 21px;
  }
}
.jumbotron-primary {
  background-color: #3378bd;
  color: #f3f8fc;
}
.jumbotron-primary h1,
.jumbotron-primary h2,
.jumbotron-primary h3 {
  color: #ffffff;
}
.jumbotron-primary p {
  color: #ffffff;
}
.jumbotron-primary .btn-primary {
  border-color: #fff;
}
.label:empty {
  display: none;
}
.badge:empty {
  display: none;
}
.btn .badge {
  position: relative;
  top: -1px;
}
.page-header .label,
.page-header .badge {
  vertical-align: middle;
}
.alert h4 {
  color: inherit;
}
.media:first-child {
  margin-top: 0;
}
.media-object {
  display: block;
}
.media-heading {
  margin: 0 0 5px;
}
.media > .pull-left {
  margin-right: 10px;
}
.media > .pull-right {
  margin-left: 10px;
}
.list-group {
  margin-bottom: 24px;
}
.list-group-item > .badge {
  float: right;
}
.list-group-item > .badge + .badge {
  margin-right: 5px;
}
a.list-group-item.active .list-group-item-heading,
a.list-group-item.active:hover .list-group-item-heading,
a.list-group-item.active:focus .list-group-item-heading {
  color: inherit;
}
a.list-group-item.active .list-group-item-text,
a.list-group-item.active:hover .list-group-item-text,
a.list-group-item.active:focus .list-group-item-text {
  color: #cbdef1;
}
.list-group-item-heading {
  color: #888888;
  font-size: 11px;
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}
.panel-body {
  color: #555555;
}
.panel-heading > .dropdown .dropdown-toggle {
  color: inherit;
}
.panel-title > a {
  color: inherit;
}
.fade.show {
  opacity: 1;
  filter: alpha(opacity=100);
}
.modal.fade .modal-dialog {
  margin-top: 100px;
  transform: translate(0, 0);
}
.modal.fade .modal-dialog iframe {
  width: 100%;
}
.modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}
.modal-backdrop.in {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.modal-backdrop.show {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.modal-header .close {
  position: absolute;
  top: 15px;
  right: 15px;
}
@media screen and (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
}